.header{  
	background-color:  #FF4500;
	padding: 10px;
	text-align: center;
	color: black;
	text-transform: uppercase;
}

.topnav {
	overflow: hidden;
	background-color: #F5DEB3;
}

.topnav a {
float: left;
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 24px;
}

.topnav a:hover {
	text-align: justify;
	background-color:#BC8F8F;
	color: black;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.column {
	float: left;
	width: 45%;
	padding: 15px;
	text-align: justify;
}

.footer{
	background-color: orange;
	padding: 0px;
	text-align: center;
}
.footer p:hover{
	background-color: white;
	color: orange;
}

.column2 {
	float: left;
	width: 50%;
	padding: 15px;
	text-align: justify; 
}

.column3 {
	float: left;
	width: 100px;
	padding: 15px;
	text-align: center;
}

img {
	width: 500px;
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-color: white;
	border-width: 3px;
	border-style: solid;
}

.banner {
	background-color: white;
	padding: 10px;
	margin-top: 159px;
}

.banner2 {
	padding: 10px;
	margin-top: 159px;
}

.fixed-nav{
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%
}

@media screen and (max-width: 800px) {
	.column, .column2, .column3 {
		width: 100%;
		padding: 10px;
	}
}

@media screen and (max-width: 400px) {
	.topnax a {
		float: 0;
		width: 100%;
	}
	img{
		width: 300px;
		height: 90px;
	}
	.banner {
		margin-top: 272px;
	}
}